.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top {
  margin-top: 200px;
}

.invisible {
  display: none;
}

p > a:link,
p > a:visited {
  color: orange;
  text-decoration: none;
  font-weight: bold;
}

p > a:hover {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}
