<main>

  <div class="container center top text-white">
    <div class="col-4">

      {{#if errorMessage}}
         {{> ErrorMessage Message=errorMessage}}
      {{/if}}

      {{#if infoMessage}}
        {{> InfoMessage Message=infoMessage}}
      {{/if}}

      <form method="post" action="/">
        <h2 class="h3 mb-3 fw-normal">Log In </h2>
        <div class="mb-3">
          <label for="UserName" class="form-label">UserName</label>
          <input
            type="text"
            class="form-control"
            id="UserName"
            name="UserName"
            required
          />
        </div>
        <div class="mb-3">
          <label for="Password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="Password"
            name="Password"
            required
          />
        </div>
        <button class="w-100 btn btn-success mb-2" type="submit">Log In</button>

        <p>No account?
          <a href="/create-user"> CREATE ONE!</a></p>

      </form>
    </div>
  </div>
</main>