<main>

  <div class="container center top text-white">
    <div class="col-4">
      {{#if errorMessage}}
        <div class="alert alert-danger text-center fw-bold" role="alert">
          {{errorMessage}}
        </div>
      {{/if}}
      <form method="post" action="/">
        <h2 class="h3 mb-3 fw-normal">Hi! </h2>
        <div class="mb-3">
          <label for="UserName" class="form-label">UserName</label>
          <input
            type="text"
            class="form-control"
            id="UserName"
            name="UserName"
            required
          />
        </div>
        <div class="mb-3">
          <label for="Password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="Password"
            name="Password"
            required
          />
        </div>
        <button class="w-100 btn btn-primary mb-2" type="submit">Sign in</button>

        <p>you don't have an account?
          <a href="/create-user"> Click Here!</a></p>

      </form>
    </div>
  </div>
</main>